<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="styles/styles.css">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <title>My Account</title>
</head>
<body>

    {{!-- <div id="adminnav">
    </div>
    <script src="../controller/adminnav.js"></script> --}}

    {{> adminnav}}

    <div class="user-content">
        <h2 class="content-title text-uppercase" id="content-title">Add Products</h2>
        <h3 class="num-of-prod-title">Number of products to add:   
            <input  id="num-of-prod" type="text">
            <button class="btn"><img src="/icons/check.svg" alt=""></button>
        </h3>
        <div class="product-content-box">
            <div class="content-table-title row">
                <h3 class="col">Image</h3>
                <h3 class="col-1">Brand</h3>
                <h3 class="col-3">Name</h3>
                <h3 class="col-2">Nickname</h3>
                <h3 class="col-1">Stocks</h3>
                <h3 class="col-1">Price</h3>
                <h3 class="col-1">Color</h3>
                <h3 class="col-1">Year</h3>
                <h3 class="col">Update</h3>
            </div>



            {{!-- {{#each shoe}}
                <div class="content-table row">

                        <div class="product-img-div col">
                            <img class="admin-product-img" src="/{{image.[0]}}" alt="">
                        </div>
                        <input class="col-1" type="text" value="{{brand}}">
                        <input class="col-3" type="text" value="{{name}}">
                        <input class="col-2" type="text" value="{{nickname}}">
                        <input class="col-1 prod-stock" type="text" value="{{stock}}">
                        <input class="col-1" type="text" value="{{price}}">
                        <input class="col-1" type="text" value="{{Color}}">
                        <input class="col-1" type="text" value="{{Year}}">
                        <div class="col product-btns">
                            <button class="btn">Upload</button>
                            <button class="btn">Update</button>
                            <button class="btn">Remove</button>
                        </div>

                </div>
            {{/each}} --}}

        
        </div>

        <div class="blank">
            <h3>blank</h3>
        </div>
        
    </div>

     <!--BOOTSTRAP-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
</body>
</html>