<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="styles/styles.css">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <title>All Brands</title>
</head>
<body>
    {{!-- <div id="navbar">
    </div>
    <script src="../controller/nav.js"></script> --}}

    {{> header}}

    <div class="brand-desc-container">
        <h4 class="text-uppercase brand-title">
            Search results
        </h4>
        <p class="brand-description">
            Find all your favorites at ShoeBox. Shop the latest and greatest releases from Nike, Jordan, Adidas, Yeezy and New Balance.
        </p>
    </div>

    <div class="products-container row">
        <div class="filter col-3">
            <h5 class="text-uppercase">Filter</h5>

            <div class="filter-options">
                <div class="filter-color">
                    <div class="filter-option">
                        <h6 class="text-uppercase">Color</h6>
                        <img src="icons/chevron-down.svg" alt="down">
                    </div>
                    <div class="filter-content">

                    </div>
                </div>
                <div class="filter-year">
                    <div class="filter-option">
                        <h6 class="text-uppercase">Year</h6>
                        <img src="icons/chevron-down.svg" alt="down">
                    </div>
                    <div class="filter-content">

                    </div>
                </div>
                <div class="filter-price">
                    <div class="filter-option">
                        <h6 class="text-uppercase">Price</h6>
                        <img src="icons/chevron-down.svg" alt="down">
                    </div>
                    <div class="filter-content">

                    </div>
                </div>
                
            </div>
        </div>

        <div class="product-results col-9">

            <div class="product-results-title row">
                <h5 class="results-title text-uppercase col-4">Results</h5>
                <div class="sort-products col">
                    <h5>Sort by:</h5>
                </div>
            </div>

            

            <div class="result-products">
                <div class="product-cards row">
                    
                    {{#each result}}
                        <a class="product-card" href="/product/{{_id}}">
                            <div>
                                <img class="product-img" src="{{image.[0]}}" alt="product">
                                <h6 class="product-brand">{{brand}}</h6>
                                <h5 class="product-name">{{nickname}}</h5>
                                <h5 class="product-price text-uppercase">{{price}} PHP</h5>
                            </div>
                        </a>
                    {{/each}}
                    

                    
                </div>

                
            </div>
            
            
        </div>

    </div>

    {{!-- <div id="footer">
    </div>
    <script src="../controller/footer.js"></script> --}}

    {{> footer}}

    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>